@import "./constants";
body {
    background-color: white;

}

.grid-container {
    @include standard-grid-display();
    grid-template-columns: minmax(200px, auto);
           
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7 {
    position: relative;
    text-align: center;
    
}

.backgroundItem {
    margin: 5px;
    border-radius: 5%;
    height: 450px;
    width: auto;
    position: relative;
    background-color: rgb(68, 73, 88);
}

img {
     border-radius: 5%;
    height: 450px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    &:hover {
    visibility: hidden;
    opacity: 0;
    transition-duration: all .35s ease-in .5s;
    }

}

.btn-item  {
    text-align: center;
    padding: 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
 img ~ a {
     display: none;
     
 } 

 img:hover ~ a {
    display: block;
           
 }


@media (min-width: 768px) {

    body {
        background-color: green;
    
    } 
    
    .grid-container {
        @include standard-grid-display();
        grid-template-columns: repeat(2, minmax(300px, auto));
        grid-gap: 5px;     
    }
    
    .backgroundItem {
        height: 300px;
        width: auto;
        margin: 5px;

    }

    img {
        height: 300px;
        width: 100%;
    }
    
}

@media (min-width: 1024px) {

    body {
        background-color: white;

    } 
    .grid-container {
        @include standard-grid-display();
        grid-template-columns: repeat(3, minmax(200px, auto));  
    }
}

    
    
