@mixin standard-wrapper {
    width: 50px;
    height: 40px;
    transition: width .35 ease-in;
}

@mixin standard-hover-div {
    width: 200px;
    transform: translateX(-150px);
}

@mixin standard-hover-span {
    display: inline-block;
    color: white;
}